<html>
    <body>

        <form method="post" action="/">

                <input type="submit" value={{ button1 }} name={{ button1 }}>
                    {% if button1Tag %}
                    <ul>Source: {{ url }}</ul>
                    <ul>Price: {{ price }}</ul>
                    <ul>Delivery Time: {{ deliveryTime }}</ul>
                    <ul>Needle Size: {{ needleSize }}</ul>
                    <ul>composition: {{ composition }}</ul>
                    {% endif %}
                </input>
                <input type="submit" value={{ button2 }} name={{ button2 }}>
                    {% if button2Tag %}
                    <ul>Source: {{ url }}</ul>
                    <ul>Price: {{ price }}</ul>
                    <ul>Delivery Time: {{ deliveryTime }}</ul>
                    <ul>Needle Size: {{ needleSize }}</ul>
                    <ul>composition: {{ composition }}</ul>
                    {% endif %}
                </input>
                <input type="submit" value={{ button3 }} name={{ button3 }}>
                    {% if button3Tag %}
                    <ul>Source: {{ url }}</ul>
                    <ul>Price: {{ price }}</ul>
                    <ul>Delivery Time: {{ deliveryTime }}</ul>
                    <ul>Needle Size: {{ needleSize }}</ul>
                    <ul>composition: {{ composition }}</ul>
                    {% endif %}
                </input>
                <input type="submit" value={{ button4 }} name={{ button4 }}>
                    {% if button4Tag %}
                    <ul>Source: {{ url }}</ul>
                    <ul>Price: {{ price }}</ul>
                    <ul>Delivery Time: {{ deliveryTime }}</ul>
                    <ul>Needle Size: {{ needleSize }}</ul>
                    <ul>composition: {{ composition }}</ul>
                    {% endif %}
                </input>

        </form>
    </body>
</html>